.skin {
  position: relative;
  width: 32px;
  height: 32px;
  button {
    position: absolute;
  }
  .skin_input {
    width: 32px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }
}
